@-webkit-keyframes rotate {
    from { 
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -sand-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -sand-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    from { 
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -sand-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -sand-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'open_sanslight', sans-serif;
    background: #505156;
}
.main *{
    font-family: 'open_sanslight', sans-serif;
}
.main{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.main .init{
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: block;
    background: #333;
    background-image: url('../resources/texture-background.png');
    background-color: #333;
    position: absolute;
    top: 0px;
    -webkit-transition: top 1s;
    -moz-transition: top 1s;
    -o-transition: top 1s;
    transition: top 1s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    
}
.main .init:before{
   content: '';
    display: block;
    position: absolute;
    width: 1000px;
    height: 1000px;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -575px;
    background-image: url('../resources/bright.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
    -webkit-animation: rotate 30s infinite; /* Chrome, Safari, Opera */
    animation: rotate 30s infinite;
    -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
    animation-timing-function: linear;
    z-index: 0;
}
.main .init:after{
   content: '';
    display: block;
    position: absolute;
    width: 1000px;
    height: 1000px;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -575px;
    background-image: url('../resources/icons.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 50%;
    -webkit-animation: rotate 60s infinite; /* Chrome, Safari, Opera */
    animation: rotate 60s infinite;
    -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
    animation-timing-function: linear;
    z-index: 0;
}
.main .init.hidden{
    top:-100%;
}
.main .init .text{
    color: #FFFFFF;
    font-size: 1.5em;
    width: 90%;
    margin: 5%;
    text-align: center;
    position: absolute;
    line-height: 120%;
}
.main .init .text strong{
    font-size: 1.5em;
    font-weight: normal;
}
.main .init .buttons_levels{
	width: 285px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 100px;
	margin-left: -142.5px;
	z-index: 100;
}
.main .init .buttons_levels button{
    height: 75px;
    width: 75px;
    position: relative;
    border-radius: 100%;
    border: 0px;
    background: #e26207;
    box-shadow: 00px 05px 0px #C55708, 0px 5px 30px rgba(0, 0, 0, 0.60);
    text-shadow: 0px 1px 2px #813E0E;
    color: #fff;
    font-family: 'open_sansregular', sans-serif;
    font-size: 1.3em;
	margin: 10px;
    float: left;
}
.main .init .icon_init{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -75px;
    border-radius: 100%;
    background-size: 120%;
    background-position: 50%;
    background-image: url('../resources/icon_init.png');
    background-repeat: no-repeat;
    background-color: #0696da;
    box-shadow: 0px 10px 0px #0485C2, 0px 10px 30px 0px rgba(255, 255,255, 0.4);
    z-index: 100;
}
.main .game-screen{
    height: 100%;
    width: 100%;
    display: block;
    background: #FFFFFF;
    background-image: url('../resources/texture-background.png');
    background-color: #FFFFFF;
    position: relative;
    top: 0px;
    left: 0px;
    -webkit-transition: top 1s;
    -moz-transition: top 1s;
    -o-transition: top 1s;
    transition: top 1s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    
}

.main .game-screen .score{
    width: 100%;
    height: 50px;
    padding: 15px;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #24313a;
    background-image: url('../resources/texture-background.png');
    background-color: #24313a;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 1.5em;
}
.main .game-screen .score #score{
    font-family: 'open_sansregular', sans-serif;
}
.main .game-screen #game{
    width: 95%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 42.5%;
    margin-left: -40%;
    margin-top: -36%;
        
}
.main .game-screen #game img{
    width: 16%;
    height: auto;
    margin: 2%;
    border-radius: 100%;
    box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.47) inset;
}
.main .game-screen .button_game{
    height: 35px;
    width: 35px;
    position: fixed;
    top: 10px;
    right: 10px;
    background: url('../resources/refresh.png');
    background-size: 100%;
    background-repeat: no-repeat;
    border: 0px;
    
        
}
.main #final{
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.7);
    background-image: url('../resources/texture-background.png');
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 100%;
    -webkit-transition: top 1s;
    -moz-transition: top 1s;
    -o-transition: top 1s;
    transition: top 1s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}
.main #final.show{
    top:0%;
}
.main #final .text{
    color: #FFFFFF;
    font-size: 1.5em;
    width: 90%;
    margin: 5%;
    text-align: center;
    position: absolute;
    line-height: 120%;
}
.main #final .text strong{
    font-size: 1.5em;
    font-weight: normal;
}
.main #final button{
	height: 75px;
	width: 75px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 110px;
	margin-left: -37.5px;
	border-radius: 100%;
	border: 0px;
	background: #e26207;
	box-shadow: 00px 05px 0px #C55708, 0px 5px 30px rgba(0, 0, 0, 0.60);
	text-shadow: 0px 1px 2px #813E0E;
	color: #fff;
	background-image: url('../resources/refresh.png');
	z-index: 100;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 60%;
}
.main #final .icon_final{
	width: 125px;
	height: 125px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -62.5px;
	border-radius: 100%;
	background-size: 120%;
	background-position: 50%;
	background-repeat: no-repeat;
	background-color: #0696da;
	line-height: 125px;
	color: #FFFFFF;
	font-size: 3em;
	text-align: center;
	font-family: 'open_sansregular', sans-serif;
	box-shadow: 0px 10px 0px #0485C2, 0px 10px 30px 0px rgba(255, 255,255, 0.4);
	z-index: 100;
}

.main #final:before{
   content: '';
    display: block;
    position: absolute;
    width: 1000px;
    height: 1000px;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -575px;
    background-image: url('../resources/bright.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
    -webkit-animation: rotate 30s infinite; /* Chrome, Safari, Opera */
    animation: rotate 30s infinite;
    -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
    animation-timing-function: linear;
    z-index: 0;
}
.main #final:after{
   content: '';
    display: block;
    position: absolute;
    width: 1000px;
    height: 1000px;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -575px;
    background-image: url('../resources/icons.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 50%;
    -webkit-animation: rotate 60s infinite; /* Chrome, Safari, Opera */
    animation: rotate 60s infinite;
    -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
    animation-timing-function: linear;
    z-index: 0;
}
strong{
    font-family: 'open_sansregular', sans-serif;
}
.button_back{
    height: 35px;
    width: 35px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    background: url('../resources/back.png');
    background-size: 100%;
    background-repeat: no-repeat;
    border: 0px;
}
#timer{
color: #9d9ea1;
position: absolute;
    bottom: 10px;
    right: 10px;
	font-family: 'open_sansregular', sans-serif;
	font-size: 1.5em;
	line-height:35px;
}